{% extends 'base.html.twig' %}

{% block title %}New event log{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Create event log</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('event_log_index') }}">
                    View All Projects
                </a>
            </div>
            <div class="card-body">
                {{ include('event_log/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
