{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center mt-5 mb-3">Edit User</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_user_index') }}">
                    View All users
                </a>
            </div>
            <div class="card-body">
                {% include 'user/__form.html.twig' with {'button_label': 'Update User', 'button_color': 'btn-outline-success'}  %}
            </div>
        </div>
    </div>
{% endblock %}
